@charset "UTF-8";

/*通用样式*/
*，:after, :before{
    -webkit-box-sizing:border-box;
    box-sizing: border-box;
}

html{
  height: 100%;
}

body,p{
  margin: 0;
}

/*header{
  background: red;
}*/
body{
  position: relative;
  min-width: 100%;
  overflow: auto;
  overflow-x: hidden;
  padding: 0;
  word-wrap: break-word;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  touch-action:manipulation;
  font-family: sans-serif;
  background: #FCFBFF;
  color: #30353d;
  display: block;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary{
  display: block;
}

audio, canvas, embed, iframe, img, object, svg, video{
  border: 0;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

/*header*/
.header{
  padding: 29px 58px 25px;
  position: relative;
  z-index: 2;
}

.header-align{
  max-width: 1325px;
  margin: auto;
}

.craft-logo:hover{
  opacity: .7;
}

.craft-logo{
  position: relative;
  z-index: 3;
  width: 106px;
  height: 38px;
  background: url('https://craft.io/img/craft-logo.svg');
  float: left;
  transition: none;
}

a{
  cursor: pointer;
  text-decoration: none;
}

a, address, button, fieldset, figure, input, legend, optgroup, select, textarea{
  font: inherit;
  color: inherit;
  line-height: inherit;
  text-transform: inherit;
  text-shadow: inherit
  border:0;
  box-shadow: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

a, audio, canvas, span, video{
  display: inline-block;
}

.right-menu-block{
  float: right;
}

.navigation{
  float: right;
  color: #fff;
}

nav{
  padding: 11px 0 0;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: .2px;
}

nav a{
  margin-right: 56px;
}

a:hover{
  color: #0064ff;
  transition: all .3s ease-out;
}
.header-align::after{
  content: '';
  display: block;
  clear: both;
}

.signup-free{
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  background-color: transparent;
  padding: 9px 36px;
  border: 1px solid #404c61;
}
.signup-free:hover{
  background: #0084ff;
  border: 1px solid #0084ff;
  color: #fff;
  font-weight: 600;
  transition: all .3s ease-out;
}

.main-bg{
  position: relative;
  min-height: 800px;
  height: 100vh;
  max-height: 1080px;
  margin-top: -95px;
}

.webp .all-head{
  background-image: url('https://craft.io/img/bg/intro-bg.webp');
}

.all-head, .all-head::before, .main-menu{
  position: absolute;
  left: 0;
  right: 0;
}

.all-head{
  top: 0;
  bottom: 0;
  background: #293037 url('https://craft.io/img/bg/intro-bg.jpg') no-repeat 50%/cover;
}

.all-head::before{
  content: '';
  bottom: 0;
  margin: auto;
  background: #121b24;
  opacity: .88;
  top: 0;
}

.main-menu{
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  padding: 0 10px 100px;
  text-align: center;
}

.main-menu img{
  margin: 0 0 35px;
  width: 98px;
}

.main-bg h1{
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  padding: 0 20px;
}

.main-menu-span{
  color: #66ffc2;
  display: inline-block;
}

.main-bg h3{
  font-size: 26px;
  padding: 18px 0 12px;
  font-weight: 300;
  max-width: 410px;
  margin: auto;
}
.main-bg h1{
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  padding: 0 20px;
}
h3{
  display: block;
  -webkit-margin-before:1em;
  -webkit-margin-after:1em;
  -webkit-margin-start:0px;
  -webkit-margin-end:0px;
  margin: 0;
}

h1, h2, h3, h4, h5, h6{
  text-rendering: optimizeLegibility;
  font: inherit;
  color: inherit;
  margin: 0;
}

.signup-free-main{
  background: #0285ff;
  font-size: 18px;
  text-transform: uppercase;
  padding: 20px 38px;
  margin: 24px 0 0;
  user-select: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  overflow: visible;
  letter-spacing: inherit;
  -webkit-font-smoothing:inherit;
  transition: color .25s,background .25s,opacity .25s;
  box-shadow: none;
  border-radius: 0;
  border: 0;
  text-shadow: inherit;
  line-height: inherit;
  font: inherit;
  color: inherit;
}

.signup-free-main:hover{
  background: #0064ff;
}

.logo-box .manual{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 64px;
}

.manual{
  font-style: italic;
  font-size: 18px;
  margin-top: 10px;
}

.logo-box, .manual{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 64px;
}

.all-box{
    margin: auto;
    max-width: 1400px;
    text-align: center;
    overflow: hidden;
}
.all-box a{
  padding: 0 20px;
}
.logo-box.all-logo a{
  cursor: default;
  padding: 42px 24px;
  margin-top: 100px;
}

.logo-box{
  padding: 80px 20px 0px;
}

.all-box a img{
  margin-top: 90px;
  margin: 0 auto;
}

/*main-content*/
.main-content{
  padding: 90px 0 60px;
  background: #fff;
  overflow: hidden;
}

.content-box1{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content: space-between;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items: center;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  -ms-flex-flow:row;
  flex-flow: row;
  max-width: 1420px;
  padding: 0 40px 0 50px;
  margin: auto;
}
.content-box1:not(:last-child){
  padding-bottom: 60px;
}

.content-box:nth-child(2) .content-img{
  width: 63%;
  margin-left: -80px;
}

.content-text{
  position: relative;
  max-width: 411px;
  box-sizing: content-box;
}

h2{
  font-size: 35px;
  font-weight: 300;
  padding: 0 0 14px;
}

.content-text p{
  font-size: 18px;
  line-height: 26px;
  color: #83888c;
  padding: 5px 0;
  hyphens: none;
  justify-content: space-between;
}

.content-text>picture img{
  padding: 48px 0 22px;
}

.content-text span{
  font-size: 15px;
  line-height: 22px;
  font-style: italic;
  color: #83888c;
  padding: 0 0 20px;
}

.content-text figure{
  -webkit-box-align:center;
  align-items: center;
  display: flex;
  -webkit-box-pack:start;
  justify-content: flex-start;
}

.content-text figure img{
  width: 42px;
}

.content-text figcaption{
  padding-left: 8px;
  font-size: 14px;
  font-style: italic;
  color: #83888c;
}

/*.webp .bulb9{
  background-image: url('https://craft.io/img/bulb/bulb9.webp');
}

.bulb9{
  position: absolute;
  background-image: url('https://craft.io/img/bulb/bulb9.png');
  background-repeat: no-repeat;
  background-size: 30px;
  width: 100%;
  height: 100%;
  top: -6%;
  left: -7%;
  z-index: 100;
}*/

.content-box1{
  margin-top: 30px;
}
.content-text{
  padding-bottom: 90px;
  box-sizing: border-box;
}

.content-box2{
  margin-top: 30px;
  padding: 0 30px;
}

.content-img{
  float: left;
}

.content-text2{
  float: right;
  box-sizing: border-box;
  width:45%;
  height: 45%;
  padding-right: 20px;
  justify-content: space-between;
}

.content-text2 h2{
  font-weight: 200;
}

.content-text2 p{
  font-size: 18px;
  line-height: 26px;
  color: #83888c;
  padding: 5px 0;
  hyphens: none;
  text-align: justify;
}

.content-text2>picture img{
  padding: 48px 0 22px; 
}
.content-img.fadeInLeft.wow{
  position: absolute;
  width: 45%;
  height: 45%;
  margin-left: 20px;
}
